* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.container {
    width: 100%;
}

/* HEADER */

.header {
    background-color: #1F2937;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px 0 150px 0;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    width: 600px;
}

.links > ul {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.links {
    width: 600px;
}

.hero {
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.hero-text {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 60px;
}

.hero-desc {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 8px 30px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    color: #E5E7EB;
    font-weight: 900;
    width: 150px;
}

.image {
    width: 600px;
    height: 300px;
    overflow: hidden;
    
}

/* CARDS */

.cards {
    height: 500px;
}

.cards-header {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 40px;
}

.cards-container {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 200px;
    height: 200px;
}

.card-img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 20px;
    overflow: hidden;
}

.card-desc {
    font-size: 18px;
    text-align: center;
    color: #1F2937;
    margin-top: 10px;
}

/* QUOTE */

.quote {
    height: 500px;
    background-color: #E5E7EB;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    width: 1000px;
    margin: 0 auto;
    padding: 150px 0 30px 0;
}

.quote-name {
    width: 1000px;
    color: black;
    text-align: end;
    font-weight: 900;
    margin: 0 auto;
    font-size: 18px;
}

/* ACTION */

.action {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-bar {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}

.blue-bar-text {
    color: white;
}

.blue-bar-text > h1 {
    font-size: 24px;
}

.blue-bar-text > p {
    font-size: 16px;
}

.blue-button {
    background-color: #3882F6;
    padding: 8px 30px;
    border: 2px solid white;
    border-radius: 10px;
    color: #E5E7EB;
    font-weight: 900;
    width: 150px;
}